{% extends "layout.html" %}
{% block body %}

<div class="main">

  <nav id="sidebar">  
    <div class="sidebar-logo-area">
        <img class="logo-div" src="img/logo.jpg">
        <button id="menuButtonClose" type="button" class="sidebar-close-btn init-hidden close" aria-label="Close">x</button>
    </div>
    <ul class="list-unstyled components">
        <li><a class="nav-link" href="home"><i class="fa fa-fw fa-home"></i> Home</a></li>

        {% if current_user.is_authenticated %}
            <li><a class="nav-link" href="profile"><i class="fa fa-fw fa-book"></i> My Profile</a></li>
        {% endif %}

        <li class="active"><a class="nav-link" href="about"><i class="fa fa-fw fa-info"></i> About</a></li>
        <li><a class="nav-link" href="announcs"><i class="fa fa-fw fa-bullhorn"></i> Announcements</a></li>
        <li><a class="nav-link" href="docs"><i class="fa fa-fw fa-book"></i> Documents</a></li>

        {% if current_user.is_authenticated and current_user.get_type() != '3' %}
            <li><a class="nav-link" href="upload" aria-selected="false"><i class="fa fa-fw fa-upload"></i> Maintenance</a></li>
        {% endif %}

        <li><a class="nav-link" href="pics"><i class="fa fa-fw fa-picture-o"></i> Pictures</a></li>

        {% if current_user.is_authenticated  %}
            <li><a class="nav-link" href="logout" aria-selected="false"><i class="fa fa-fw fa-sign-out"></i> Logout</a></li>
        {% else %}
            <li><a class="nav-link" href="login" aria-selected="false"><i class="fa fa-fw fa-sign-in"></i> Login</a></li>
        {% endif %}
    </ul>
  </nav>

  <div class="content">
    {% include "mobile-menu.html" %}

    <div class="section-title" data-aos="zoom-out">
      <h2>About</h2>
    </div>

    <div class="about-style">
      <div class="center shadow bg-white rounded">
          <div class="about-body">
            <p>All About Us</p>
            <div class="spacer"></div>
            We are a small and vibrant community in Nashua, NH.
            Our goal is to provide our residents with the best of fine living and safety.
            We are located at the heart of the Daniel Webster shopping
            corridor, surrounded by the best in fine dining and world-class shopping experience,
            besides the highly regarded Pheasant Lane Mall.  

            <div class="spacer"></div>
            <div class="spacer"></div>

            Feel free to explore our site and see what you could be missing.

            <div class="spacer"></div>

            Hope to see you soon!    

            <div class="spacer"></div>
            <div class="spacer"></div>

            Here's where we are: 
            
            <div class="spacer"></div>

            <h4>42.7095348,  -71.4472455</h4>
            
            <div class="map-responsive iframe-div">
              <!--<iframe src="https://maps.google.com/maps?width=900&amp;height=500&amp;hl=en&amp;q=33%20SPIT%20BROOK%20RD%20Nashua+(Whitegate%20Condominium)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="900" height="500" allowfullscreen></iframe>-->
              <iframe src="https://maps.google.com/maps?hl=en&amp;q=33%20SPIT%20BROOK%20RD%20Nashua+(Whitegate%20Condominium)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" frameborder='0' allowfullscreen></iframe>
            </div>
          </div>
      </div>


      <div style="margin: 100px;"></div>
      <div class="section-title" data-aos="zoom-out">
        <h2 style="font-size: 13px;">Nearby hospitals, medical centers, urgent care</h2>
      </div>
      <div style="margin: 40px;"></div>
      <div class="row logo-div">
          {% for logo in hosp_logos: %}
              <div style="margin: 10px;"><img src="logos/hospitals/{{logo}}" style="width: 100px; height: 100px;" class="img-thumbnail rounded-2" alt=""/></div>
          {% endfor %}
      </div>


      <div style="margin: 80px;"></div>
      <div class="section-title" data-aos="zoom-out">
        <h2 style="font-size: 13px;">Nearby schools, colleges, universities</h2>
      </div>
      <div style="margin: 40px;"></div>
      <div class="row logo-div">
          {% for logo in school_logos: %}
              <div style="margin: 10px;"><img src="logos/schools/{{logo}}" style="width: 100px; height: 100px;" class="img-thumbnail rounded-2" alt=""/></div>
          {% endfor %}
      </div>


      <div style="margin: 80px;"></div>
      <div class="section-title" data-aos="zoom-out">
        <h2 style="font-size: 13px;">Shopping</h2>
      </div>
      <div style="margin: 40px;"></div>
      <div class="row logo-div">
          {% for logo in shop_logos: %}
              <div style="margin: 10px;"><img src="logos/shopping/{{logo}}" style="width: 100px; height: 100px;" class="img-thumbnail rounded-2" alt=""/></div>
          {% endfor %}
      </div>


      <div style="margin: 80px;"></div>
      <div class="section-title" data-aos="zoom-out">
        <h2 style="font-size: 13px;">These are nearby employers</h2>
      </div>
      <div style="margin: 40px;"></div>
      <div class="row logo-div">
          {% for logo in emp_logos: %}
              <div style="margin: 10px;"><img src="logos/employers/{{logo}}" style="width: 100px; height: 100px;" class="img-thumbnail rounded-2" alt=""/></div>
          {% endfor %}
      </div>


      <div style="margin: 80px;"></div>
      <div class="section-title" data-aos="zoom-out">
        <h2 style="font-size: 13px;">Here's what the weather looks like now</h2>
      </div>
      <div style="margin: 20px;"></div>
      <div style="width=100%; height: 600px; text-align: center;">
        <iframe style="width: 520px; height: 490px; border-radius: 8px;" src="https://www.weatherlink.com/embeddablePage/show/ae294d41896b40a296594910b614eab2/wide" frameborder='0'></iframe>
      </div>

    </div>

  </div> 

</div> <!-- close main -->
{% endblock %}