{% extends "layout.html" %}
{% block body %}

<div class="main">

    <nav id="sidebar">
        <div class="sidebar-logo-area">
            <img class="logo-div" src="img/logo.jpg">
            <button id="menuButtonClose" type="button" class="sidebar-close-btn init-hidden close" aria-label="Close">x</button>
        </div>

        <ul class="list-unstyled components">
          <li><a class="nav-link" href="home"><i class="fa fa-fw fa-home"></i> Home</a></li>
          <li><a class="nav-link" href="about"><i class="fa fa-fw fa-info"></i> About</a></li>
          <li><a class="nav-link" href="announcs"><i class="fa fa-fw fa-bullhorn"></i> Announcements</a></li>
          <li class="active"><a class="nav-link" href="docs"><i class="fa fa-fw fa-book"></i> Documents</a></li>
          <li><a class="nav-link" href="pics"><i class="fa fa-fw fa-picture-o"></i> Pictures</a></li>
          <li><a class="nav-link" href="login" aria-selected="false"><i class="fa fa-fw fa-sign-in"></i> Login</a></li>
        </ul>
    </nav>


    <div class="content">
        {% include "mobile-menu.html" %}

        <div class="section-title" data-aos="zoom-out">
            <h2>Open View Documents</h2>
        </div>

        <div class="spacer"></div>
        <p>Click a document below to open it on a second tab.</p>
        <p>
        <div class="app-container">
            <div class="row">
                {% for doc in opendocs %}
                    <div class="col-1 doc-col">
                        <a class="doc-link" href="opendocs/files/{{doc}}" target="_blank"> {{doc}}</a>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

</div> <!-- closes main -->

{% endblock %}
