{% extends "layout.html" %}
{% block body %}

<div class="main">

  <nav id="sidebar">  
    <div class="sidebar-logo-area">
        <img class="logo-div" src="img/logo.jpg">
        <button id="menuButtonClose" type="button" class="sidebar-close-btn init-hidden close" aria-label="Close">x</button>
    </div>
    <ul class="list-unstyled components">
      <li><a class="nav-link" href="home"><i class="fa fa-fw fa-home"></i> Home</a></li>
      <li><a class="nav-link" href="profile"><i class="fa fa-fw fa-book"></i> My Profile</a></li>
      <li><a class="nav-link" href="about"><i class="fa fa-fw fa-info"></i> About</a></li>
      <li><a class="nav-link" href="announcs"><i class="fa fa-fw fa-bullhorn"></i> Announcements</a></li>
      <li><a class="nav-link" href="docs"><i class="fa fa-fw fa-book"></i> Documents</a></li>
      <li class="active"><a class="nav-link" href="upload" aria-selected="false"><i class="fa fa-fw fa-upload"></i> Maintenance</a></li>
      <li><a class="nav-link" href="pics"><i class="fa fa-fw fa-picture-o"></i> Pictures</a></li>
      <li><a class="nav-link" href="logout" aria-selected="false"><i class="fa fa-fw fa-sign-out"></i> Logout</a></li>
    </ul>
  </nav>

  <div class="content">
      {% include "mobile-menu.html" %}

      <div class="section-title" data-aos="zoom-out">
        <h2>Upload documents and pictures</h2>
      </div>

      <p>

      <div class="upload-container">

        <div class="upload-block">
          <p>Whitegate Project List</p>
          <div class="upload-block-row">
            <div class="col-1 upload-browse">
              <a style="text-align: center; font-size: 16px;" href="https://docs.google.com/spreadsheets/d/10EwDvN541YQ71rMF2XzknX0GfMFtRjRH0vKsUQoB7kk/edit?usp=sharing" target="_blank">Click to edit the Whitegate Projects Spreadsheet</a>
            </div>
          </div>
        </div>


        <div class="upload-block">
          <p>Bylaws</p>
          <div class="upload-block-row">
                  <div class="col-1 upload-browse">
                    <input id="bylaws" type="file"/>
                    <button id="upload-button" onclick="uploadFileProgress('bylaws', 'bylaws', 'progressBar-bylaws')"> Upload a ByLaw</button>
                    <progress id="progressBar-bylaws" value="0" max="100"/>
                  </div>
          </div>
        </div>

        <p>

        <div class="upload-block">
          <p>Other Documents</p>
          <div class="upload-block-row">
                  <div class="col-1 upload-browse">
                    <input id="otherdoc" type="file"/>
                    <button id="upload-button" onclick="uploadFileProgress('otherdoc', 'otherdoc', 'progressBar-otherdoc')"> Upload a Document</button>
                    <progress id="progressBar-otherdoc" value="0" max="100"/>
                  </div>
          </div>
        </div>

        <p>

        <div class="upload-block">
          <p>Public Documents</p>
          <div class="upload-block-row">
                  <div class="col-1 upload-browse">
                    <input id="pubfile" type="file"/>
                    <button id="upload-button" onclick="uploadFileProgress('pubfile', 'pubfile', 'progressBar-pubfile')"> Upload a Public Document</button>
                    <progress id="progressBar-pubfile" value="0" max="100"/>
                  </div>
          </div>
        </div>

        <p>

        <div class="upload-block">
          <p>Picture</p>
          <div class="upload-block-row">
                  <div class="col-1 upload-browse">
                    <input id="picture" type="file"/>
                    <button id="upload-button" onclick="uploadFileProgress('picture', 'picture', 'progressBar-pic')"> Upload a Picture</button>
                    <progress id="progressBar-pic" value="0" max="100"/>
                  </div>
          </div>
        </div>

        <p>

        <div class="upload-block">
          <p>Financial Statements - 2020</p>
          <div class="upload-block-row">
            <div class="col-1 upload-browse">
              <input id="2020-01" type="file"/>
              <button id="upload-button" onclick="uploadFile('2020-01')"> Upload Jan-2020</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2020-02" type="file"/>
              <button id="upload-button" onclick="uploadFile('2020-02')"> Upload Feb-2020</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2020-03" type="file"/>
              <button id="upload-button" onclick="uploadFile('2020-03')"> Upload Mar-2020</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2020-04" type="file"/>
              <button id="upload-button" onclick="uploadFile('2020-04')"> Upload Apr-2020</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2020-05" type="file"/>
              <button id="upload-button" onclick="uploadFile('2020-05')"> Upload May-2020</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2020-06" type="file"/>
              <button id="upload-button" onclick="uploadFile('2020-06')"> Upload Jun-2020</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2020-07" type="file"/>
              <button id="upload-button" onclick="uploadFile('2020-07')"> Upload Jul-2020</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2020-08" type="file"/>
              <button id="upload-button" onclick="uploadFile('2020-08')"> Upload Aug-2020</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2020-09" type="file"/>
              <button id="upload-button" onclick="uploadFile('2020-09')"> Upload Sep-2020</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2020-10" type="file"/>
              <button id="upload-button" onclick="uploadFile('2020-10')"> Upload Oct-2020</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2020-11" type="file"/>
              <button id="upload-button" onclick="uploadFile('2020-11')"> Upload Nov-2020</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2020-12" type="file"/>
              <button id="upload-button" onclick="uploadFile('2020-12')"> Upload Dec-2020</button>
            </div>
          </div>
        </div>

        <p>

        <div class="upload-block">
          <p>Financial Statements - 2021</p>
          <div class="upload-block-row">
            <div class="col-1 upload-browse">
              <input id="2021-01" type="file"/>
              <button id="upload-button" onclick="uploadFile('2021-01')"> Upload Jan-2021</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2021-02" type="file"/>
              <button id="upload-button" onclick="uploadFile('2021-02')"> Upload Feb-2021</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2021-03" type="file"/>
              <button id="upload-button" onclick="uploadFile('2021-03')"> Upload Mar-2021</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2021-04" type="file"/>
              <button id="upload-button" onclick="uploadFile('2021-04')"> Upload Apr-2021</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2021-05" type="file"/>
              <button id="upload-button" onclick="uploadFile('2021-05')"> Upload May-2021</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2021-06" type="file"/>
              <button id="upload-button" onclick="uploadFile('2021-06')"> Upload Jun-2021</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2021-07" type="file"/>
              <button id="upload-button" onclick="uploadFile('2021-07')"> Upload Jul-2021</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2021-08" type="file"/>
              <button id="upload-button" onclick="uploadFile('2021-08')"> Upload Aug-2021</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2021-09" type="file"/>
              <button id="upload-button" onclick="uploadFile('2021-09')"> Upload Sep-2021</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2021-10" type="file"/>
              <button id="upload-button" onclick="uploadFile('2021-10')"> Upload Oct-2021</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2021-11" type="file"/>
              <button id="upload-button" onclick="uploadFile('2021-11')"> Upload Nov-2021</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2021-12" type="file"/>
              <button id="upload-button" onclick="uploadFile('2021-12')"> Upload Dec-2021</button>
            </div>
          </div>
        </div>

        <p>

        <div class="upload-block">
          <p>Financial Statements - 2022</p>
          <div class="upload-block-row">
            <div class="col-1 upload-browse">
              <input id="2022-01" type="file"/>
              <button id="upload-button" onclick="uploadFile('2022-01')"> Upload Jan-2022</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2022-02" type="file"/>
              <button id="upload-button" onclick="uploadFile('2022-02')"> Upload Feb-2022</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2022-03" type="file"/>
              <button id="upload-button" onclick="uploadFile('2022-03')"> Upload Mar-2022</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2022-04" type="file"/>
              <button id="upload-button" onclick="uploadFile('2022-04')"> Upload Apr-2022</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2022-05" type="file"/>
              <button id="upload-button" onclick="uploadFile('2022-05')"> Upload May-2022</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2022-06" type="file"/>
              <button id="upload-button" onclick="uploadFile('2022-06')"> Upload Jun-2022</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2022-07" type="file"/>
              <button id="upload-button" onclick="uploadFile('2022-07')"> Upload Jul-2022</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2022-08" type="file"/>
              <button id="upload-button" onclick="uploadFile('2022-08')"> Upload Aug-2022</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2022-09" type="file"/>
              <button id="upload-button" onclick="uploadFile('2022-09')"> Upload Sep-2022</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2022-10" type="file"/>
              <button id="upload-button" onclick="uploadFile('2022-10')"> Upload Oct-2022</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2022-11" type="file"/>
              <button id="upload-button" onclick="uploadFile('2022-11')"> Upload Nov-2022</button>
            </div>
            <div class="col-1 upload-browse">
              <input id="2022-12" type="file"/>
              <button id="upload-button" onclick="uploadFile('2022-12')"> Upload Dec-2022</button>
            </div>
          </div>
        </div>

        <p>

        <div class="upload-block">
          <p>Financial Statements - 2023</p>
          <div class="upload-block-row">
            <div class="col-1 upload-browse">
              <input id="2023-01" type="file"/>
              <button id="upload-button" onclick="uploadFileProgress('2023-01', '2023-01', 'progressBar-fin-2023-01')"> Upload Jan-2023</button>
              <progress id="progressBar-fin-2023-01" value="0" max="100"/>
            </div>
            <div class="col-1 upload-browse">
              <input id="2023-02" type="file"/>
              <button id="upload-button" onclick="uploadFileProgress('2023-02', '2023-02', 'progressBar-fin-2023-02')"> Upload Feb-2023</button>
              <progress id="progressBar-fin-2023-02" value="0" max="100"/>
            </div>
            <div class="col-1 upload-browse">
              <input id="2023-03" type="file"/>
              <button id="upload-button" onclick="uploadFileProgress('2023-03', '2023-03', 'progressBar-fin-2023-03')"> Upload Mar-2023</button>
              <progress id="progressBar-fin-2023-03" value="0" max="100"/>
            </div>
            <div class="col-1 upload-browse">
              <input id="2023-04" type="file"/>
              <button id="upload-button" onclick="uploadFileProgress('2023-04', '2023-04', 'progressBar-fin-2023-04')"> Upload Apr-2023</button>
              <progress id="progressBar-fin-2023-04" value="0" max="100"/>
            </div>
            <div class="col-1 upload-browse">
              <input id="2023-05" type="file"/>
              <button id="upload-button" onclick="uploadFileProgress('2023-05', '2023-05', 'progressBar-fin-2023-05')"> Upload May-2023</button>
              <progress id="progressBar-fin-2023-05" value="0" max="100"/>
            </div>
            <div class="col-1 upload-browse">
              <input id="2023-06" type="file"/>
              <button id="upload-button" onclick="uploadFileProgress('2023-06', '2023-06', 'progressBar-fin-2023-06')"> Upload Jun-2023</button>
              <progress id="progressBar-fin-2023-06" value="0" max="100"/>
            </div>
            <div class="col-1 upload-browse">
              <input id="2023-07" type="file"/>
              <button id="upload-button" onclick="uploadFileProgress('2023-07', '2023-07', 'progressBar-fin-2023-07')"> Upload Jul-2023</button>
              <progress id="progressBar-fin-2023-07" value="0" max="100"/>
            </div>
            <div class="col-1 upload-browse">
              <input id="2023-08" type="file"/>
              <button id="upload-button" onclick="uploadFileProgress('2023-08', '2023-08', 'progressBar-fin-2023-08')"> Upload Aug-2023</button>
              <progress id="progressBar-fin-2023-08" value="0" max="100"/>
            </div>
            <div class="col-1 upload-browse">
              <input id="2023-09" type="file"/>
              <button id="upload-button" onclick="uploadFileProgress('2023-09', '2023-09', 'progressBar-fin-2023-09')"> Upload Sep-2023</button>
              <progress id="progressBar-fin-2023-09" value="0" max="100"/>
            </div>
            <div class="col-1 upload-browse">
              <input id="2023-10" type="file"/>
              <button id="upload-button" onclick="uploadFileProgress('2023-10', '2023-10', 'progressBar-fin-2023-10')"> Upload Oct-2023</button>
              <progress id="progressBar-fin-2023-10" value="0" max="100"/>
            </div>
            <div class="col-1 upload-browse">
              <input id="2023-11" type="file"/>
              <button id="upload-button" onclick="uploadFileProgress('2023-11', '2023-11', 'progressBar-fin-2023-11')"> Upload Nov-2023</button>
              <progress id="progressBar-fin-2023-11" value="0" max="100"/>
            </div>
            <div class="col-1 upload-browse">
              <input id="2023-12" type="file"/>
              <button id="upload-button" onclick="uploadFileProgress('2023-12', '2023-12', 'progressBar-fin-2023-12')"> Upload Dec-2023</button>
              <progress id="progressBar-fin-2023-12" value="0" max="100"/>
            </div>
          </div>

      </div>

      <p class="spacer"></p>


      <button class="btn btn-primary center" type="button" data-toggle="collapse" data-target="#deletion_maint_section" aria-expanded="false" aria-controls="collapseExample">
        Click Here to Open/Close the File Deletion Section
      </button>

      <div class="app-container collapse" id="deletion_maint_section">
        <p class="spacer"></p>

        <div class="card card-body">

          <h1>Bylaws Documents</h1>
          <div class="app-container">
              <div class="row">
                  {% for doc in bylaws %}
                      <div class="col-1 doc-col">
                          {{doc}} <button id="deletebutton_id" onClick="deleteFile('docs/bylaws/{{doc}}','{{doc}}');">delete</button>
                      </div>
                  {% endfor %}
              </div>
          </div>
          <p class="spacer"></p>

          <h1>Other Documents</h1>
          <div class="app-container">
              <div class="row">
                  {% for doc in otherdocs %}
                      <div class="col-1 doc-col">
                          {{doc}} <button id="deletebutton_id" onClick="deleteFile('docs/other/{{doc}}','{{doc}}');">delete</button>
                      </div>
                  {% endfor %}
              </div>
          </div>
          <p class="spacer"></p>

          <h1>Open View Documents</h1>
          <div class="app-container">
              <div class="row">
                  {% for doc in opendocs %}
                      <div class="col-1 doc-col">
                          {{doc}} <button id="deletebutton_id" onClick="deleteFile('opendocs/files/{{doc}}','{{doc}}');">delete</button>
                      </div>
                  {% endfor %}
              </div>
          </div>
          <p class="spacer"></p>

          <h1>Pictures</h1>
          <div class="app-container">
              <div class="row">
                  {% for pic in pics %}
                      <div class="col-1 doc-col">
                          {{pic}} <button id="deletebutton_id" onClick="deleteFile('pics/{{pic}}','{{pic}}');">delete</button>
                      </div>
                  {% endfor %}
              </div>
          </div>
          <p class="spacer"></p>

          <h1>Financial Statements</h1>
          <h2>2020</h2>
          <div class="app-container">
              <div class="row">
                  {% for doc in findocs2020 %}
                      <div class="col-1 doc-col">
                          {{doc}} <button id="deletebutton_id" onClick="deleteFile('docs/financial/{{doc}}','{{doc}}');">delete</button>
                      </div>
                  {% endfor %}
              </div>
          </div>
          <p class="spacer"></p>

          <h1>Financial Statements</h1>
          <h2>2021</h2>
          <div class="app-container">
              <div class="row">
                  {% for doc in findocs2021 %}
                      <div class="col-1 doc-col">
                          {{doc}} <button id="deletebutton_id" onClick="deleteFile('docs/financial/{{doc}}','{{doc}}');">delete</button>
                      </div>
                  {% endfor %}
              </div>
          </div>
          <p class="spacer"></p>

          <h1>Financial Statements</h1>
          <h2>2022</h2>
          <div class="app-container">
              <div class="row">
                  {% for doc in findocs2022 %}
                      <div class="col-1 doc-col">
                          {{doc}} <button id="deletebutton_id" onClick="deleteFile('docs/financial/{{doc}}','{{doc}}');">delete</button>
                      </div>
                  {% endfor %}
              </div>
          </div>

          <p class="spacer"></p>

          <h1>Financial Statements</h1>
          <h2>2023</h2>
          <div class="app-container">
              <div class="row">
                  {% for doc in findocs2023 %}
                      <div class="col-1 doc-col">
                          {{doc}} <button id="deletebutton_id" onClick="deleteFile('docs/financial/{{doc}}','{{doc}}');">delete</button>
                      </div>
                  {% endfor %}
              </div>
          </div>

        </div> <!-- close card-body -->

      </div> <!-- close app-container -->

      <p class="spacer"></p>

      
      <button class="btn btn-primary center" type="button" data-toggle="collapse" data-target="#announc_maint_section" aria-expanded="false" aria-controls="collapseExample">
        Click Here to Open/Close the Announcement Maintenance Section
      </button>

      <div class="app-container collapse" id="announc_maint_section">
        <p class="spacer"></p>
        <div class="card card-body">

          <div class="announc-bullets">
            <ul>
              <li>To <b>add an announcement</b>: type the text at the top of the box below.</li>
              <li>The most recent announcement appears first in the list.</li>
              <li>Each announcement is separated by a blank line.</li>
              <li>To <b>delete an announcement</b>: delete the corresponding line(s) from the box below.</li>
            </ul>
          </div>

          <div class="announcs-div">
              <textarea style="width: 100%;" id="announctextfield_id" name="announcbodyfield" rows="12"></textarea>
          </div>

          <div class="buttonbox">
            <div class="innerbuttonbox">
                <button id="emailbutton_id" onClick="saveAnnouncs();">Save Announcements</button>
            </div>  
          </div>

        </div> <!-- close card-body -->
      </div> <!-- close app-container -->

      <p class="spacer"></p>


      <button class="btn btn-primary center" type="button" data-toggle="collapse" data-target="#user_maint_section" aria-expanded="false" aria-controls="collapseExample">
        Click Here to Open/Close the User Maintenance Section
      </button>

      <p class="spacer"></p>

      <div class="app-container collapse" id="user_maint_section">
        <div class="card card-body">
          <div class="center">
            <button class="btn-primary" id="get-all-residents-button" onclick="retrieveUsers()">Get All Residents</button>
          </div>

          <div class="table-div" style="height: 400px;">
              <table class="table table-sm" id="residentstableid">
                  <tr>
                      <th style="width: 3%;">Unit</th>
                      <th style="width: 6%;">User Id</th>
                      <th style="width: 8%;">Password</th>
                      <th style="width: 15%;">Resident's Name</th>
                      <th style="width: 15%;">Resident's Email</th>
                      <th style="width: 8%;">Resident's Phone</th>
                      <th style="width: 13%;">Owner's Name</th>
                      <th style="width: 13%;">Owner's Email</th>
                      <th style="width: 8%;">Owner's Phone</th>
                      <th style="width: 8%;">Start Date</th>
                  </tr>
              </table>
          </div>

          <p></p>
          <p></p>

          <!--
             Here is the section for maintenance of an individual resident, retrievable by unit number
          -->

          <div class="upload-block">
            <div class="passrow">
              <div class="align-right-fixed">Unit:</div>
              <div class="align-left-fixed">
                <select id="maint_unit" name="units" onchange="retrieveUserByUnit();">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                  <option value="32">32</option>
                  <option value="33">33</option>
                  <option value="34">34</option>
                  <option value="35">35</option>
                  <option value="36">36</option>
                  <option value="37">37</option>
                  <option value="38">38</option>
                  <option value="39">39</option>
                  <option value="40">40</option>
                  <option value="41">41</option>
                  <option value="42">42</option>
                  <option value="43">43</option>
                  <option value="44">44</option>
                  <option value="45">45</option>
                  <option value="46">46</option>
                  <option value="47">47</option>
                  <option value="48">48</option>
                  <option value="49">49</option>
                  <option value="50">50</option>
                  <option value="51">51</option>
                  <option value="52">52</option>
                  <option value="53">53</option>
                </select>
              </div>
            </div>

            <div class="passrow">
              <div class="align-right-fixed">User Id:</div>
              <div class="align-left-fixed"> <input id="maint_userid" placeholder="user id"></input></div>
              <button type="button-div" id="retrievebtn" onClick="retrieveUserByUserId();">Retrieve</button>
            </div>

            <div class="passrow">
              <div class="align-right-fixed">Password:</div>
              <div class="align-left-fixed"> <input id="maint_password"></input></div>
            </div>

            <div class="passrow">
              <div class="align-right-fixed">Main Occupant's Name:</div>
              <div class="align-left-fixed"> <input id="maint_name" style="width: 160px;" placeholder="full name"/></div>
              <div class="align-right-fixed">Email:</div>
              <div class="align-left-fixed"> <input id="maint_email" style="width: 180px;" placeholder="email"/></div>
              <div class="align-right-fixed">Phone:</div>
              <div class="align-left-fixed"> <input id="maint_phone" style="width: 120px;" placeholder="format 123 456-7890"/></div>
            </div>

            <div class="passrow">
              <div class="align-right-fixed">Owner's Name (if rental):</div>
              <div class="align-left-fixed"> <input id="maint_ownername" style="width: 160px;" placeholder="full name"/></div>
              <div class="align-right-fixed">Email:</div>
              <div class="align-left-fixed"> <input id="maint_owneremail" style="width: 180px;" placeholder="email"/></div>
              <div class="align-right-fixed">Phone:</div>
              <div class="align-left-fixed"> <input id="maint_ownerphone" style="width: 120px;" placeholder="format 123 456-7890"/></div>
            </div>

            <div class="passrow">
              <div class="align-right-fixed">Resident Since:</div>
              <div class="align-left-fixed">
                <select id="maint_startdt_month" name="months">
                  <option value=""></option>
                  <option value="01">Jan</option>
                  <option value="02">Feb</option>
                  <option value="03">Mar</option>
                  <option value="04">Apr</option>
                  <option value="05">May</option>
                  <option value="06">Jun</option>
                  <option value="07">Jul</option>
                  <option value="08">Aug</option>
                  <option value="09">Sep</option>
                  <option value="10">Oct</option>
                  <option value="11">Nov</option>
                  <option value="12">Dec</option>
                </select>
              </div>
              <div class="align-left-fixed">
                <select id="maint_startdt_year" name="years">
                  <option value=""></option>
                  <option value="1991">1991</option>
                  <option value="1992">1992</option>
                  <option value="1993">1993</option>
                  <option value="1994">1994</option>
                  <option value="1995">1995</option>
                  <option value="1996">1996</option>
                  <option value="1997">1997</option>
                  <option value="1998">1998</option>
                  <option value="1999">1999</option>
                  <option value="2000">2000</option>
                  <option value="2001">2001</option>
                  <option value="2002">2002</option>
                  <option value="2003">2003</option>
                  <option value="2004">2004</option>
                  <option value="2005">2005</option>
                  <option value="2006">2006</option>
                  <option value="2007">2007</option>
                  <option value="2008">2008</option>
                  <option value="2009">2009</option>
                  <option value="2010">2010</option>
                  <option value="2011">2011</option>
                  <option value="2012">2012</option>
                  <option value="2013">2013</option>
                  <option value="2014">2014</option>
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                  <option value="2027">2027</option>
                  <option value="2028">2028</option>
                  <option value="2029">2029</option>
                  <option value="2030">2030</option>
                </select>
              </div>
            </div>

            <div class="passrow">
              <div class="align-right-fixed">Type:</div>
              <div class="align-left-fixed">
                <select id="maint_type" name="type">
                  <option value="0">Admin</option>
                  <option value="1">Board Member</option>
                  <option value="2">Secretary</option>
                  <option value="3" selected>Resident</option>
                </select>
              </div>
            </div>

            <div class="spacer"></div>

            <div>
              <div style="display: inline-block; text-align: right; width: 12%;"></div>
              <div style="display: inline-block; text-align: left;  height: 250px; width: 50%;">
                  <table id="maint_residentstableid" style="line-height: 20px">
                      <tr>
                          <th style="width: 180px; background-color: hsl(203, 39%, 94%);"></th>
                          <th style="width: 80px;">Name</th>
                          <th style="width: 80px;">Email</th>
                          <th style="width: 80px;">CC in Emails</th>
                          <th style="width: 80px;">Phone</th>
                      </tr>
                      <tr height="28">
                          <td></td>
                          <td><input id="maint_occup1_name" name="occupants_list" rows="10"></input></td>
                          <td><input id="maint_occup1_email" name="occupants_list" rows="10"></input></td>
                          <td><input id="maint_occup1_cc" name="occupants_list" type="checkbox"></input></td>
                          <td><input id="maint_occup1_phone" name="occupants_list" rows="10"></input></td>
                      </tr>
                      <tr height="28">
                          <td></td>
                          <td><input id="maint_occup2_name" name="occupants_list" rows="10"></input></td>
                          <td><input id="maint_occup2_email" name="occupants_list" rows="10"></input></td>
                          <td><input id="maint_occup2_cc" name="occupants_list" type="checkbox"></input></td>
                          <td><input id="maint_occup2_phone" name="occupants_list" rows="10"></input></td>
                      </tr>
                      <tr height="28">
                          <td style="min-width: 120px; text-align: right;">Other Occupants:</td>
                          <td><input id="maint_occup3_name" name="occupants_list" rows="10"></input></td>
                          <td><input id="maint_occup3_email" name="occupants_list" rows="10"></input></td>
                          <td><input id="maint_occup3_cc" name="occupants_list" type="checkbox"></input></td>
                          <td><input id="maint_occup3_phone" name="occupants_list" rows="10"></input></td>
                      </tr>
                      <tr height="28">
                          <td></td>
                          <td><input id="maint_occup4_name" name="occupants_list" rows="10"></input></td>
                          <td><input id="maint_occup4_email" name="occupants_list" rows="10"></input></td>
                          <td><input id="maint_occup4_cc" name="occupants_list" type="checkbox"></input></td>
                          <td><input id="maint_occup4_phone" name="occupants_list" rows="10"></input></td>
                      </tr>
                      <tr height="28">
                          <td></td>
                          <td><input id="maint_occup5_name" name="occupants_list" rows="10"></input></td>
                          <td><input id="maint_occup5_email" name="occupants_list" rows="10"></input></td>
                          <td><input id="maint_occup5_cc" name="occupants_list" type="checkbox"></input></td>
                          <td><input id="maint_occup5_phone" name="occupants_list" rows="10"></input></td>
                      </tr>
                  </table>
              </div>
            </div>

            <div class="center">
              <button class="button-div wide" id="savebtn" onClick="saveUser();">Save</button>
              <button class="button-div wide" id="sendinfobtn" onClick="startSendEmail();">Send Login Info to User</button>
            </div>

          </div>
        </div>
        <p class="spacer"></p>
        <p class="spacer"></p>
      </div> <!-- close app-container -->

      <button class="btn btn-primary center" type="button" data-toggle="collapse" data-target="#bulk_email_section" aria-expanded="false" aria-controls="collapseExample">
        Click Here to Open/Close the Bulk Email Section
      </button>

<!--      <div class="announc-outer-box collapse" id="bulk_email_section"> -->
      <div class="app-container collapse" id="bulk_email_section">
        <p class="spacer"></p>
        <div class="card card-body">
          <div class="announc-instr">
              The form below is <b>optional</b>.
              It should be used only when you want to send an email message to all registered
              residents after an upload is made.
          </div>
          <p>
              <center class="announc-box">

                  <div class="inputboxline">
                    <div class="inputcaptionbox">
                      <div class="inputcaptioncontent">Email Title:</div>
                    </div>

                    <div class="inputcontrolbox">
                      <div class="inputcontrolcontent">
                        <input id="titlefield_id" name="emailtitlefield"></input>
                      </div>
                    </div>
                  </div>

                  <div class="textareaboxline">
                    <div class="inputcaptionbox">
                      <div class="inputcaptioncontent">Email Text:</div>
                    </div>
                    <div class="inputcontrolbox">
                      <div class="inputcontrolcontent">
                          <textarea id="emailtextfield_id" name="emailbodyfield" rows="10"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="buttonbox">
                    <div class="innerbuttonbox">
                        <button id="emailbutton_id" onClick="sendBulkEmail();">Send email to all residents</button>
                      </div>  
                  </div>

                  <div class="center-bar">
                    <div id="email-progress-bar" class="progress-bar">
                      <div id="status-bar" class="status-bar">1%</div>
                    </div>
                  </div>

              </div>
        </div> <!-- close card-body -->
      </div> <!-- close app-container -->
  </div> <!-- closes content -->
</div> <!-- closes main -->
{% endblock %}

{% block afterbody %}
   <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
{% endblock %}
